/* Footer Styles */

footer {
    color: #ffffff;
    margin: 4rem auto;

    p {
        font: {
            family: 'Geo', sans-serif;
        }
        margin-top: 2rem;
        text-align: center;
    }

    a {
        border-bottom: 2px solid #ffffff;
        color: #ffffff;
        text-decoration: none;
    }

}
