/* Footer Styles */

footer {
    background-color: #333333;
    color: #ffffff;

    p {
        font: {
            family: 'Geo', sans-serif;
        }
        padding: 2rem 0;
        text-align: center;
    }

    a {
        border-bottom: 2px solid #ffffff;
        color: #ffffff;
        text-decoration: none;
    }

}
