/* Type Styles */

.two {
    background: linear-gradient(#999999, #777777);

    h1 {
        font: {
            family: 'Special Elite', serif;
            @include fntz(1.25);
        }
        padding: 20% 0;
        text-align: center;
    }
}

.one {
    background-color: #f7f3e8;
    color: #828d58;
    overflow: hidden;

    .first-word,
    .second-word {
        text-transform: uppercase;
        float: left;
        width: 50%;
    }

    .first-word {
        font: {
            family: 'Alegreya Sans', sans-serif;
        }
        padding: 15% 0;
        text-align: right;
    }

    .second-word {
        font: {
            family: 'Roboto Slab', serif;
        }
        margin-left: -0.25em;
        padding: 19% 0;
    }

}
